{
	{% if nodejs_project__mongodb_enable %}
	"db": {
		"username": "{{ nodejs_project__mongodb_username }}",
		"password": "{{ nodejs_project__mongodb_password }}",
		"name": "{{ nodejs_project__mongodb_database }}",
		"host": "{{ nodejs_project__mongodb_host }}",
		"port": "{{ nodejs_project__mongodb_port }}",
		"sslKey": "{{ nodejs_project__mongodb_sslkey }}",
		"sslCert": "{{ nodejs_project__mongodb_sslcert }}",
		"sslCa": "{{ nodejs_project__mongodb_sslca }}"
	},

	{% endif %}
	"server": {
		"host": "{{ nodejs_project__server_host }}",
		"port": "{{ nodejs_project__server_port }}"
		"sslKey": "{{ nodejs_project__server_sslkey }}",
		"sslCert": "{{ nodejs_project__server_sslcert }}",
		"session": {
			"secret": "{{ nodejs_project__server_secret }}"
		}
	},

	"mail": {
		"host": "",
		"port": "",
		"from": "\"Roger Skyline 🌍\" <admin@rs2.slash16.fr>",
		"password": "",
		"to": ""
	}
}
