#!/bin/sh
git --work-tree='/home/{{ nodejs_project__user }}/{{ nodejs_project__name if nodejs_project__name else nodejs_project__git_repo | basename }}' --git-dir='/home/{{ nodejs_project__user }}/{{ nodejs_project__name if nodejs_project__name else nodejs_project__git_repo | basename }}.git' checkout -f
npm --prefix '/home/{{ nodejs_project__user }}/{{ nodejs_project__name if nodejs_project__name else nodejs_project__git_repo | basename }}' run cc
