module.exports = {
apps : [
	{% for app in nodejs_project__pm2_apps %}
	{
		name: "{{ app.name }}",
		script: "./{{ app.script }}",
		watch: {{ app.watch | lower }},
		{% if app.error_file is defined %}
		error_file: "{{ app.error_file }}",
		{% endif %}
		{% if app.out_file is defined %}
		out_file  : "{{ app.out_file }}",
		{% endif %}
		{% if app.cwd is defined %}
		cwd: "{{ app.cwd }}"
		{% endif %}
		env: {
			"NODE_ENV": "development",
		},
		env_production : {
			"NODE_ENV": "production"
		}
	},
	{% endfor %}
	]
}
